.ihotel-intro > img {
    margin: 15px;
}
.vertical-img {
    height: 70vh !important;
    width: auto !important;
}

.horizontal-img {
    width: 80% !important;
}

.ihotel-intro > p {
    margin: 0 100px;
    text-align: left;
}

.vertical-img-taller {
    height: 100vh;
}

.imgRow {
    display: flex;
    margin: 0 80px;
    gap: 30px;
    justify-content: center;
}