@charset "UTF-8";

.text-primary {
  color: #343a40 !important;
}

#intro {
  /* Margin to fix overlapping fixed navbar */
  margin-top: 58px;
}

@media (max-width: 991px) {
  #intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 45px;
  }
}

/* image hover */
img {
  opacity: 1.0;
}

img:hover {
  opacity: .7;
}

/* svg map */
#buildings a:hover { 
  filter: brightness(85%); 
}

.map-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-bg: #94cdd3;
  --bs-popover-header-bg: #2e6679;
  --bs-popover-header-color: #FFFFFF;
  --bs-popover-body-padding-x: .5rem;
  --bs-popover-body-padding-y: .5rem;
}

#buildings .cls-1 { fill: #b05a2b; }
#buildings .cls-2 { fill: #713a1c; }
#buildings .cls-3 { fill: #eeece7; }
#buildings .cls-4 { fill: #53101b; }
#buildings .cls-5 { fill: #6f6e6b; }
#buildings .cls-6 { fill: #f9e2cf; }
#buildings .cls-7 { fill: #cf2844; }
#buildings .cls-8 { fill: #8f1c2f; }
#buildings .cls-9 { fill: #ccab9a; }
#buildings .cls-10 { fill: #f07b3b; }
#buildings .cls-11 { fill: #aeada9; }

/* svg map effect end */

/* index articles */
#articles a:link { text-decoration: none; }
#articles a:visited { text-decoration: none; }
#articles a:hover { text-decoration: none; }
#articles a:active { text-decoration: none; }
/* index articles end */

/* timeline */
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: #E1E4EA; 
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* timeline end */
