.overview {
  background-color: #F5F5F5;
  padding: 50px 100px;
  width: 100%;
  display: inline-block;
}

.overview-img {
  float: right;
  width: 45vw;
  vertical-align: top;
  margin-left: 30px;
  margin-bottom: 30px;
}

.overview-img  > img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.colophon {
  background-color: #F5F5F5;
  padding: 50px;
}

.colophon > p {
  text-align: center;
}