.intro, .explore-peek, .tiles, .contact-us {
  margin: 50px 0;
  padding: 0 50px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.intro > .intro-header {
  margin-bottom: 30px;
  font-weight: normal;
}

.explore-peek, .contact-us {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.contact-us {
  padding: 40px 100px;
}

.description, .contact-button {
  flex: 0.3;
}

.image, .contact-description {
  flex: 0.7;
}

.image > img {
  width: 100%;
  padding-right: 30px;
}

.contact-description {
  text-align: left;
}

.contact-button {
  text-align: right;
}

.explore-button {
  margin-top: 30px;
}

.button-img {
  width: 15vw;
  text-align: center;
}