/* Toggle text */
details > summary, details > ul {
    text-align: left;
    padding: 0 100px;
}

details > summary {
    font-size: 23px;
}

/* Image with caption */
.imgText {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.imgText > figure > img {
    flex: 0.5;
    height: 100vh;
}

.imgText > p {
    flex: 0.8;
}

.vertical-img {
    height: 70vh !important;
    width: auto !important;
}

.horizontal-img {
    max-width: 80% !important;
    height: auto !important;
}
