.semester-info {
    text-align: left;
    color: grey;
    padding: 35px;
    width: 100%;
}

.active {
    color: black;
}

.semester-title, .group-name, .gsi-title {
    font-weight: bold;
}

.groups {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

