.tile {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.tile-image {
  max-width: 100%;
  opacity: 0.8;
}

.tile-image:hover {
  opacity: 1;
}

.tile > .header {
  margin-top: 20px;
}

.tile > .body {
  margin: 15px;
  margin-top: 0px;
}