
.kubla-khan-intro {
    margin: 0 150px;
    padding-top: 30px;
}

h2, h3 {
    margin: 0 100px;
}

.kubla-khan-intro > img {
    width: 80%;
}

details > summary, details > ul {
    text-align: left;
    padding: 0 100px;
}

details > summary {
    font-size: 23px;
}

.ccsf-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 50px 0;
}

p {
    text-align: left;
}

.imgText {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.imgText > figure > img {
    flex: 1;
    width: 55vw;
}

.imgText > p {
    flex: 1;
}

.quote {
    font-style: italic;
}