
.kubla-khan-intro {
    margin: 0 150px;
    padding-top: 30px;
}

h2, h3 {
    margin: 0 100px;
}

.kubla-khan-intro > img {
    width: 80%;
}

.ccsf-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 50px 0;
}

p {
    text-align: left;
}

.quote {
    font-style: italic;
}